
<ul class="breadcrumb" style="border-style: ridge;">
	<li><a href="#">Home</a></li>
	<li><a href="#/component/all">all</a></li>
	<li class="active">jsTree</li>
</ul>

<button type="button" id="create_button" class="btn btn-primary">create</button>
<button type="button" id="rename_button" class="btn btn-primary">rename</button>
<button type="button" id="delete_button" class="btn btn-primary">delete</button>

<div id="jstree"></div>
<input type="text" id="jstree_form" placeholder="jsTree" />
<input type="text" id="search_form" placeholder="Search" />