
<div class="container">
    <div class="row">
        <div class="col-md-6 column">
            <ul id="list">
            </ul>
            <input id="sampleForm" type="text" class="form-control" placeholder="Search" />
            <p><a onClick="controller.add()" class="btn btn-primary" role="button">add</a>
                <a onClick="controller.search()" class="btn btn-default" role="button">search</a></p>
        </div>
        <div class="col-md-6 column">
            <h1 class="editable">Editable header</h1>

            <div class="editable" style="width:100%; height:250px">
                This is an editable div element element.
            </div>
            <textarea id="text" >sample</textarea>
        </div>
    </div>
</div>